* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    height:100%;
    background:#FAFAFA!important;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  em {
    font-style: normal;
  }
  a,
  a:hover,
  a:focus,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  .van-tabs {
    margin-top:0.44rem;
  }
  .iconitem{
    display: inline-block;
    width:0.13rem;
    height:0.13rem;
    background-position: center center;
    background-size: 0.13rem 0.13rem;
    background-repeat: no-repeat;
    vertical-align: middle;
    /* color:#fff; */
  }
  .icons{
    display: inline-block;
    width:0.21rem;
    height:0.13rem;
    background-position: center center;
    background-size: 0.21rem 0.13rem;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right:0.125rem;
  }
  .icon2{
    display: inline-block;
    width:0.2rem;
    height:0.2rem;
    background-position: center center;
    background-size: 0.2rem 0.2rem;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  .icon3{
    display: inline-block;
    width:0.14rem;
    height:0.1rem;
    background-position: center center;
    background-size: 0.14rem 0.1rem;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left:0.1rem;
    margin-top:-0.1rem;
  }
  .lunbotu .van-swipe__indicator {
    border-radius: 0%;
    width: 0.13rem;
    height: 0.02rem;
    background:rgba(255,255,255,1);
    border-radius:0.01rem;
  }
  .tl{
    text-align:left;
  }
  .tr{
    text-align: right;
  }
  .tc{
    text-align:center;
  }
  .f14{
    font-size:0.14rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .f13{
    font-size:0.13rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .f12{
    font-size: 0.12rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .f15{
    font-size:0.15rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .f16{
    font-size:0.16rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  #f20{
    font-size: 0.2rem;
    font-family: FuturaLT;
    font-weight:500;
    color:#4E7BFF
  }
  #f12{
    font-size:0.12rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#333333;
  }
  #b12{
    font-size:0.12rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#4E7BFF;
  }
  .mainitem{
    height:0.45rem;
    line-height:0.45rem;
}
.m10{
  margin-top:0.1rem;
}
.main{
  background:#fff;
  padding:0 0.15rem;
}
.border{
  border:0.01rem solid rgba(204,204,204,1);
  border-radius:0.04rem;
}
.h33{
  height:0.33rem;
  text-align:center;
}
.m20{
  margin-bottom:0.2rem;
}
.mb10{
  margin-bottom:0.1rem;
}
.bg{
  background:#fff;
}
.h144{
  height:0.72rem
}
.r12{
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,53,53,1);
  margin-right:0.03rem;
}
.h188{
  height:.94rem;
  /* margin-bottom:0.05rem; */
}
.bz{
  width:0.78rem;
  height:0.25rem;
  line-height:0.25rem;
  background:rgba(78,123,255,1);
  border:0.01rem solid #ccc;
  border-radius:0.125rem;
  font-size:0.1rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color:rgba(255,255,255,1);
  text-align:center;
  position:absolute;
  right:0.7rem;
}
.lh7{
  line-height:0.7rem;
}
